GameStore/GameStore.BLL/Service References/CreditCardService/CreditCardService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CreditCardService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditCardService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationYear" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecureCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInfo" nillable="true" type="tns:PaymentInfo" />
</xs:schema>