GameStore/GameStore.BLL/Service References/CreditCardService/CreditCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51782/CreditCardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51782/CreditCardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51782/CreditCardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CreditCardService.Models" />
      <xsd:import schemaLocation="http://localhost:51782/CreditCardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CreditCardService.Static" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditCardService_PayVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:PayVisa" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_PayVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayVisaResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_PayMasterCard_InputMessage">
    <wsdl:part name="parameters" element="tns:PayMasterCard" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_PayMasterCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayMasterCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Confirm_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_Confirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreditCardService">
    <wsdl:operation name="PayVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/PayVisa" message="tns:ICreditCardService_PayVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/PayVisaResponse" message="tns:ICreditCardService_PayVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayMasterCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/PayMasterCard" message="tns:ICreditCardService_PayMasterCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/PayMasterCardResponse" message="tns:ICreditCardService_PayMasterCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/Confirm" message="tns:ICreditCardService_Confirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ConfirmResponse" message="tns:ICreditCardService_Confirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreditCardService" type="tns:ICreditCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayVisa">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/PayVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayMasterCard">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/PayMasterCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/Confirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardService">
    <wsdl:port name="BasicHttpBinding_ICreditCardService" binding="tns:BasicHttpBinding_ICreditCardService">
      <soap:address location="http://localhost:51782/CreditCardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>